* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --skin-color: #ec1839;
  --shadow-skin-color: #ffdee3c1;
  --transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--skin-color);
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d12c44;
}

::-webkit-scrollbar-thumb:active {
  background-color: #a51d32;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

a {
  text-decoration: none !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.skin-color {
  color: var(--skin-color);
}

.title {
  width: fit-content;
  position: relative;
  font-weight: bold;
  text-align: left;
}

.title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 2px;
  background-color: var(--skin-color);
}

.title::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 40%;
  height: 2px;
  background-color: var(--skin-color);
}

.slider-container .slick-dots li button::before {
  font-size: 12px;
  color: var(--shadow-skin-color);
  opacity: 1;
  border: 1px solid transparent;
}

.slider-container .slick-dots li.slick-active button::before {
  color: var(--skin-color);
}
